body {
  background-color: cadetblue;
}

.main {
  background-color: whitesmoke;
  position: absolute;
  top: 22%;
  left: 40%;
  align-items: center;
  width: 8cm;
  height: 13cm;
  box-shadow: 1px 1px black;
  overflow-y: scroll;
}
.headings {
  color: rgb(77, 97, 117);
  text-align: center;
  font-family: "Audiowide", sans-serif;
}
.input {
  display: flex;
  position: absolute;
  align-items: center;
  margin-left: 1cm;
}
.items {
  display: flex;
  position: absolute;
  top: 30%;
}
ol li {
  list-style-type: none;
  text-transform: capitalize;
  color: cadetblue;
  margin-left: 0.2cm;
}
.listitem {
  display: flex;
  position: relative;
}

.delete {
  color: purple;
}
.delete:hover {
  color: brown;
  cursor: pointer;
}
